<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Data</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
          $("#searchbar").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".card").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) >= 0)
            });
          });
    });
    </script>
</head>
<body>
<div class="container">
  <div class="row">
    <h1 class="text-center">Student Data</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-3">
      <a href="addstudentform"><button class="btn btn-success">ADD NEW STUDENT</button></a>
    </div>
    <div class="col-3">
      <input type="search" placeholder="Search" id="searchbar" class="form-control">

    </div>

  </div>
  <hr>

  <div class="row" id="studentContainer">
    <div th:each="student, index : ${students}" class="col-4" data-index="${index.index}">
      <div class="card border-success mb-3">
        <div class="card-header">
          <h2 th:text="${student.studentName}"></h2>
        </div>
        <div class="card-body text-success">
          <h4>STUDENT ID: <span th:text="${student.studentId}"></span></h4>
          <h4>Stream: <span th:text="${student.studentStream}"></span></h4>
          <h4>Percentage: <span th:text="${student.studentPercentage}"></span></h4>
          <h4>course: <span th:text="${student.studentCourse}"></span></h4>
        </div>
        <div class="card-footer">
          <a th:href="@{/updatestudent/{id}(id=${student.studentId})}">
            <button class="btn btn-primary">UPDATE</button>
          </a>
          <a th:href="@{/deletestudent/{id}(id=${student.studentId})}">
            <button class="btn btn-danger">DELETE</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>